
.topnav {
    background-color: #5b1ee1;
    overflow:auto;
    border-radius: 10em;
    padding: 9em;
    font-family: 'Quicksand';
    background-color: #c962f1;
}

.topnav a {
    float: center;
    color: #ffffff;
    text-align: center;
    padding: 18px, 17px;
    text-decoration: #da8bfa;
    font-size: 20px;
   
}

.topnav a:hover {
    background-color: #c58fe9;
    background-size: auto;
    backface-visibility: hidden;
}

.topnav a.active {
    background-color: turquoise;
    
    color: white;
}

body {
 background-color: #5b1ee1;
 /* background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(171, 215, 226));
 */
 font-family:'Quicksand', sans-serif ;
}

h1 {
    text-align: center;
    background: #47def8;
    color: #ffffff;
    background-position: 2200px,; 
    border-radius: 100px;
    font-family: 'Quicksand', serif ;
    position: relative;
}

.homenav {
    text-align: center;
}

#myVideo {
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    color:#f1f1f1;
    width: 100%;
    padding: 20%;

}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.viewport-header {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


